<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Icinga-Report</display-name>
  <description>Icinga Reporting</description>
  <context-param>
    <description>Icinga JDBC Name</description>
    <param-name>IcingaJdbcName</param-name>
    <param-value>jdbc/icinga</param-value>
  </context-param>
  <context-param>
    <description>Icinga Report Folder</description>
    <param-name>IcingaReportFolder</param-name>
    <param-value>/Users/berk/Desktop/</param-value>
  </context-param>
  <servlet>
    <description>Report Generator Servlet for Icinga</description>
    <display-name>ReportGenerator</display-name>
    <servlet-name>ReportGenerator</servlet-name>
    <servlet-class>org.icinga.reporting.Generator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGenerator</servlet-name>
    <url-pattern>/ReportGenerator</url-pattern>
  </servlet-mapping>
</web-app>